<a href="https://colab.research.google.com/github/afhabibieee/Metode-Simpleks/blob/main/Metode_Simpleks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tugas dan UTS ROO

Adil Faruq Habibi

# Main Code

In [ ]:
#required library
import numpy as np
import pandas as pd
from IPython.display import display

In [ ]:
def koef_nk(n_var, n_func):
  koef = []
  nk = []
  for i in range(n_func):
    print("Fungsi Batasan {}".format(i+1))
    temp_koefs = []
    for j in range(n_var):
      temp_koefs += input("Koefisien X"+str(j+1)+" : ")
    nk.append(input("Nilai Kanan Fungsi ke-"+str(i+1)+" : "))
    koef.append(temp_koefs)
  return np.array(koef).astype('float'), np.array(nk).astype('float')

In [ ]:
def stack(n_func):
  stack_koefs_tujuan = np.zeros(n_func).astype('int')
  stack_koefs = []
  for i in range(n_func):
    temp_stack = np.zeros(n_func)
    temp_stack[i] = 1
    stack_koefs.append(temp_stack)
  return stack_koefs_tujuan, np.array(stack_koefs).astype('int')

In [ ]:
def kendala(koefs, stack_kendala, nks):
  z = np.zeros(len(nks)).reshape(len(nks), 1)
  return np.concatenate((z, koefs, stack_kendala, nks.reshape(len(nks), 1)),
                        axis=1).astype('float')

In [ ]:
def tujuan(n_var, n_func, kasus, stack_tujuan):
  z = 1
  nk = 0

  print("Fungsi Tujuan")
  koef = np.array([input("Koefisien X"+str(i+1)+" : ") for i in range(n_var)])\
  .astype('float')
  
  koef *= -1

  list_tujuan = np.concatenate(([z], koef, stack_tujuan, [nk]), axis=0)
  
  return list_tujuan

In [ ]:
def table_simpleks(n_var, n_func, values):
  column_names = ['Z'] + ['X'+str(i+1) for i in range(n_var)] + ['S'+str(i+1) for i in range(n_func)] + ['NK']
  var_dasar = ['Z'] + ['S'+str(i+1) for i in range(n_func)]
  df = pd.DataFrame(data=values, index=var_dasar, columns=column_names)
  return df

In [ ]:
def metode_simpleks(table, n_var, n_func, kasus):
  list_baris_kunci = []
  while True:
    # memilih kolom kunci
    if kasus == 'max' and (table.iloc[0, 1:1+n_var+n_func] < 0).any():
      kolom_kunci = np.argmin(table.iloc[0, 1:1+n_var+n_func]) + 1
      kolom_kunci_name = table.columns[kolom_kunci]
    elif kasus == 'min' and (table.iloc[0, 1:1+n_var+n_func] > 0).any():
      kolom_kunci = np.argmax(table.iloc[0, 1:1+n_var+n_func]) + 1
      kolom_kunci_name = table.columns[kolom_kunci]
    else:
      print('Tabel tidak bisa dioptimalkan lagi\n')
      print('Nilai Z {} adalah {}'.format(kasus, table.iloc[0,-1]))
      for bk in list_baris_kunci:
        print('{} = {}'.format(bk, table.loc[bk, 'NK']))
      break

    # memilih baris kunci
    rasio = table.iloc[1:, -1] / table.iloc[1:, kolom_kunci]
    baris_kunci = np.where(rasio > 0, rasio, np.inf).argmin() + 1
    baris_kunci_name = table.index[baris_kunci]
    
    if kolom_kunci_name in ['X'+str(i+1) for i in range(n_var)]:
      list_baris_kunci.append(kolom_kunci_name)

    # rename index row
    table.rename(index={baris_kunci_name: kolom_kunci_name}, inplace=True)

    # bentuk ke matrik eselon baris
    table.iloc[baris_kunci] = table.iloc(axis=0)[baris_kunci] / table.iloc[baris_kunci, kolom_kunci]

    # mengubah nilai selain baris kunci
    for i in range(n_func+1):
      if i != baris_kunci:
        table.iloc[i, :] -= table.iloc[baris_kunci]*table.iloc[i, kolom_kunci]
    
    # tampilkan dataframe
    display(table)
    print('\n')

In [ ]:
def main(n_var, n_func, kasus):
  koefs_and_nks = koef_nk(n_var, n_func)
  koefs = koefs_and_nks[0]
  nks = koefs_and_nks[1]

  stacks = stack(n_func)
  stack_tujuan = stacks[0]
  stack_kendala = stacks[1]

  list_kendala = kendala(koefs, stack_kendala, nks)
  list_tujuan = tujuan(n_var, n_func, kasus, stack_tujuan)

  initial_values = np.concatenate(([list_tujuan], list_kendala), axis=0)
  table_awal = table_simpleks(n_var, n_func, initial_values)
  display(table_awal)
  print('\n')
  metode_simpleks(table_awal, n_var, n_func, kasus)

# Tugas



Fungsi Tujuan 	: Maksimumkan Z = 3X1 + 2X2   
Fungsi Kendala	: 

* X1 + X2 ≤15

* 2X1 + X2 ≤28

* X1 + 2X2 ≤20

In [ ]:
# Tugas
if __name__ == "__main__":
    n_var = int(input("Jumlah variable : "))
    n_func = int(input("Jumlah fungsi batasan : "))
    kasus = input("Minimumkan atau maksimumkan [min/max]? ")
    
    main(n_var, n_func, kasus)

Jumlah variable : 2
Jumlah fungsi batasan : 3
Minimumkan atau maksimumkan [min/max]? max
Fungsi Batasan 1
Koefisien X1 : 1
Koefisien X2 : 1
Nilai Kanan Fungsi ke-1 : 15
Fungsi Batasan 2
Koefisien X1 : 2
Koefisien X2 : 1
Nilai Kanan Fungsi ke-2 : 28
Fungsi Batasan 3
Koefisien X1 : 1
Koefisien X2 : 2
Nilai Kanan Fungsi ke-3 : 20
Fungsi Tujuan
Koefisien X1 : 3
Koefisien X2 : 2

      Z   X1   X2   S1   S2   S3    NK
Z   1.0 -3.0 -2.0  0.0  0.0  0.0   0.0
S1  0.0  1.0  1.0  1.0  0.0  0.0  15.0
S2  0.0  2.0  1.0  0.0  1.0  0.0  28.0
S3  0.0  1.0  2.0  0.0  0.0  1.0  20.0

      Z   X1   X2   S1   S2   S3    NK
Z   1.0  0.0 -0.5  0.0  1.5  0.0  42.0
S1  0.0  0.0  0.5  1.0 -0.5  0.0   1.0
X1  0.0  1.0  0.5  0.0  0.5  0.0  14.0
S3  0.0  0.0  1.5  0.0 -0.5  1.0   6.0

      Z   X1   X2   S1   S2   S3    NK
Z   1.0  0.0  0.0  1.0  1.0  0.0  43.0
X2  0.0  0.0  1.0  2.0 -1.0  0.0   2.0
X1  0.0  1.0  0.0 -1.0  1.0  0.0  13.0
S3  0.0  0.0  0.0 -3.0  1.0  1.0   3.0

Tabel tidak bisa dioptimalkan lagi

Nilai Z max adalah 43.0
X1 = 13.0
X2 = 2.0

# UTS



> Perusahaan  software  “ORANGE”  memproduksi  2  macam  produk  yaitu;  software  data mining (X1) dan statistik (X2). Untuk membuat produk tersebut perusahaan mempunyai 3 tim yakni, tim 1 digunakan untuk desain UI/UX, tim 2 untuk membuat program dan mengembangkan, dan tim 3 untuk tesing dan implementasi. Setiap membuat software data mining (X1) mula-mula tim bekerja sebagai berikut: tim 1 membuat desain UI/UX selama 4 jam dan tanpa melalui tim 2, langsung diproses tim 3 selama 4 jam pula. Sedangkan untuk membuat software statistik (X2), perusahaan menugaskan tim 2 selama 5 jam dan tim 3 selama 3 jam. Jam kerja maksimum untuk tim 1 adalah 16 jam, tim 2 adalah 30 jam dan tim 3 selama 24 jam per minggu. Kontribusi keuntungan masing-masing untuk software data mining (X1) sebesar USD50,- dan software statistik (X2) USD40,- Dari data-data di atas, carilah kombinasi produk yang paling optimal ?



Fungsi Tujuan 	: Maksimumkan Z = 50X1 + 40X2   
Fungsi Kendala	: 

* 4X1 ≤16

* 5X2 ≤30

* 4X1 + 3X2 ≤24

In [ ]:
# UTS
if __name__ == "__main__":
    n_var = int(input("Jumlah Produk : "))
    n_func = int(input("Jumlah tim : "))
    kasus = input("Minimumkan atau maksimumkan [min/max]? ")
    
    main(n_var, n_func, kasus)

Jumlah Produk : 2
Jumlah tim : 3
Minimumkan atau maksimumkan [min/max]? max
Fungsi Batasan 1
Koefisien X1 : 4
Koefisien X2 : 0
Nilai Kanan Fungsi ke-1 : 16
Fungsi Batasan 2
Koefisien X1 : 0
Koefisien X2 : 5
Nilai Kanan Fungsi ke-2 : 30
Fungsi Batasan 3
Koefisien X1 : 4
Koefisien X2 : 3
Nilai Kanan Fungsi ke-3 : 24
Fungsi Tujuan
Koefisien X1 : 50
Koefisien X2 : 40

      Z    X1    X2   S1   S2   S3    NK
Z   1.0 -50.0 -40.0  0.0  0.0  0.0   0.0
S1  0.0   4.0   0.0  1.0  0.0  0.0  16.0
S2  0.0   0.0   5.0  0.0  1.0  0.0  30.0
S3  0.0   4.0   3.0  0.0  0.0  1.0  24.0

      Z   X1    X2     S1   S2   S3     NK
Z   1.0  0.0 -40.0  12.50  0.0  0.0  200.0
X1  0.0  1.0   0.0   0.25  0.0  0.0    4.0
S2  0.0  0.0   5.0   0.00  1.0  0.0   30.0
S3  0.0  0.0   3.0  -1.00  0.0  1.0    8.0

      Z   X1   X2        S1   S2         S3          NK
Z   1.0  0.0  0.0 -0.833333  0.0  13.333333  306.666667
X1  0.0  1.0  0.0  0.250000  0.0   0.000000    4.000000
S2  0.0  0.0  0.0  1.666667  1.0  -1.666667   16.666667
X2  0.0  0.0  1.0 -0.333333  0.0   0.333333    2.666667

      Z   X1   X2   S1    S2     S3     NK
Z   1.0  0.0  0.0  0.0  0.50  12.50  315.0
X1  0.0  1.0  0.0  0.0 -0.15   0.25    1.5
S1  0.0  0.0  0.0  1.0  0.60  -1.00   10.0
X2  0.0  0.0  1.0  0.0  0.20   0.00    6.0

Tabel tidak bisa dioptimalkan lagi

Nilai Z max adalah 314.99999999999994
X1 = 1.4999999999999996
X2 = 6.0